<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{user.username}}'s Profile</title>
  </head>
  <body>
    <h1>SPRITR</h1>
    <h5>{{user.username}}'s Profile</h5>
    <img width="100px" src="{{user.user_picture}}">
    {{#each sprites}}
      <a href="/sprite/{{this.id}}"><h4>{{this.name}}</h4></a>
      <a href="/profile/{{this.user_id}}"><h5>by {{this.username}}</h5></a>
      <img width="200px" src="{{this.render_url}}">
      <p>Likes: {{this.likes}}</p>
    {{/each}}
  </body>
</html>
